.reveal.reveal img
{
    max-height: 66vh;
    max-width: 66vw;
}

.dot {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: red;
    display: inline-block;
}

.choice {
    width: 100%;
    height: 2em;
    text-align: left;
}

.desc {
    width: 10em;
    display: inline-block;
}

#register {
    animation: 0.5s infinite slidein linear;
}

.choice:hover #l1 {
    animation: 2s infinite slidein linear;
}

.choice:hover #l2 {
    animation: 5s infinite slidein linear;
}

.choice:hover #l3 {
    animation: 37.5s infinite slidein linear;
}

.choice:hover #ram {
    animation: 65s infinite slidein linear;
}

@keyframes slidein {
  from {
    margin-left: 0%;
  }
  
  to {
    margin-left: calc(100% - 10em - 2em);
  }
}
